APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:6PJQx3969gFEwDwjULMBeyXqACN+ddKjqjCtMQA+q4U=
APP_DEBUG=true
APP_URL=http://127.0.0.1

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# --------------------
# DATABASE
# --------------------
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=laravel
DB_USERNAME=laravel
DB_PASSWORD=laravel

# --------------------
# CACHE / SESSION
# --------------------
CACHE_STORE=file
SESSION_DRIVER=file

# --------------------
# QUEUE (RabbitMQ)
# --------------------
QUEUE_CONNECTION=rabbitmq
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE=default

# --------------------
# REDIS
# --------------------
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_CLIENT=predis
REDIS_KEY_PREFIX=laravel
# --------------------
# ELASTICSEARCH
# --------------------
ELASTICSEARCH_HOST=http://127.0.0.1:9200

